@use '/src/styles/utils/variables' as *;
@use '/src/styles/utils/mixins' as *;

.btn {
    @include button-base;

    &-primary {
        background-color: $color-secondary;
        color: $text-white;

        &:hover {
            background-color: darken($color-secondary, 10%);
        }

    }

    &-secondary {
        background-color: $color-primary;
        color: $text-white;


        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &-outline {
        background-color: transparent;
        border: 2px solid $text-white;
        color: $text-white;

        &:hover {
            background-color: $color-secondary;
            color: $text-white;
        }
    }


}

// our classes button style

.btn-secondary-down {
    background-color: $color-primary;
    color: $text-white;
    padding: .5rem 1.25rem;
    border-radius: $radius-sm;
    transition: background-color .3s ease;
    position: relative;


    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%) scaleY(0);
        transform-origin: center top;

        width: 14px;
        transform-origin: center top;
        height: 8px;

        clip-path: polygon(50% 100%, 0 0, 100% 0);
        background-color: $color-secondary;
        transition: transform .25s ease-out;

    }

    &:hover {
        background-color: $color-secondary;
    }

    &:hover::after {
        background-color: $color-secondary;
        transform: translateX(-50%) scaleY(1);
    }

    &--active {
        background-color: $color-secondary;
        color: $text-white;

        &::after {
            transform: translateX(-50%) scaleY(1);
            background-color: $color-secondary;
        }
    }

}