@use '../utils/variables' as *;

.section-title {
    text-align: center;
    margin-bottom: $space-40;
    color: $text-blue;
    text-transform: uppercase;

    &::after {
        content: '';
        display: block;
        width: 3.75rem;
        height: .5rem;
        background-color: $color-secondary;
        margin: $space-16 auto 0 auto;
        border-radius: $radius-md;
    }
}