@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.contact {
    background-color: $color-white;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: $space-64;
        margin-top: $space-64;
    }

    /* ---------------- FORM ---------------- */

    &__form {
        flex: 1 1 450px;
        min-width: 450px;

        display: flex;
        flex-direction: column;
        gap: $space-16;
    }

    &__info {
        display: flex;
        flex-direction: row;
        gap: $space-32;
        margin-bottom: $space-8;
    }

    &__info-item {
        font-size: $fs-base;
        color: $text-primary;

        strong {
            font-weight: 700;
            color: $text-primary;
        }
    }

    &__form-title {
        font-size: $fs-xl;
        font-weight: 700;
        color: $text-primary;
        margin-bottom: $space-8;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        gap: $space-20;

        input,
        textarea {
            width: 100%;
            padding: $space-12;

            background-color: $color-light;
            border: none;
            border-radius: $radius-md;

            font-family: inherit;
            font-size: $fs-base;

            transition: background-color 0.3s ease;

            &:focus {
                outline: none;
                background-color: darken($color-light, 5%);
            }
        }

        textarea {
            min-height: 100px;
            resize: none;
        }
    }

    &__btn {
        align-self: flex-start;
    }

    /* ---------------- MAP ---------------- */

    &__map {
        flex: 1 1 450px;
        min-width: 450px;

        display: flex;
        align-items: stretch;
        width: 100%;

        iframe {
            width: 100%;
            height: 100%;
            min-height: 400px;

            border: 0;
            border-radius: $radius-lg;
        }
    }
}

// ---------------- Mobile Responsive ----------------
@media (max-width: 576px) {
    .contact {

        &__title {
            font-size: $fs-3xl;
            font-weight: $fw-extra-bold;
        }

        &__subtitle {
            font-weight: $fw-extra-bold;
        }

        &__info-item {
            font-size: $fs-xl;
        }

        &__form {
            min-width: auto;
            padding-right: $space-8;
        }

        &__map {
            min-width: auto;
        }
    }
}