@use '/src/styles/utils/variables' as *;
@use '/src/styles/utils/mixins' as *;

.bmi {
    background-color: $color-white;

    .container {
        @include flex-between;
        gap: $space-64;
        flex-wrap: wrap;
    }

    &__content-wrapper {
        max-width: 31.25rem;
        width: 100%;
    }

    &__description {
        font-size: $fs-lg;
        margin-top: $space-32;
    }

    &__input-group {
        display: flex;
        gap: $space-16;
        margin-top: $space-32;

        input {
            padding-left: $space-12;

            // WebKit browsers for delete number input arrows (Chrome, Edge, Opera)
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            // Firefox for delete number input arrows
            -moz-appearance: textfield;
        }

    }

    &__img-wrapper {
        max-width: 37.25rem;
        width: 100%;
        position: relative;
        --after-right: 5%; // Default position (underweight)

        &-title {
            text-align: center;
            font-weight: $fw-extra-bold;
        }

        &::after {
            content: '';
            position: absolute;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            bottom: -33px;
            right: var(--after-right);
            width: 10%;
            height: 10%;
            background: $color-secondary;
            z-index: 10;
            transition: right 0.3s ease;
        }
    }


}

// ----------------bmi mobil responsive
@media (max-width: 576px) {
    .bmi {
        .container {
            @include flex-column;
            align-items: center;
            gap: $space-48;
        }

        &__description {
            font-weight: $fw-extra-bold;
        }

        &__input-group {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 0 $space-12;
            max-width: 200px;

            input {
                width: 100%;
                border: 2px solid $text-primary;
                border-radius: 4px;
            }

            label {
                display: flex;
                align-items: center;
            }
        }

        &__img-wrapper {
            width: 100vw;
            max-width: 100vw;
            margin-left: calc(-50vw + 50%);

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}