@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.stats {

    .container {
        @include grid-responsive(17.25rem, $space-32);
        align-items: center;
        text-align: center;
    }

    &__item {
        @include flex-column;
        gap: $space-24;
        background-color: #fff;
        padding-block: $space-32;
        border-radius: $radius-sm;



        &-number {
            font-size: $fs-2xl;
            color: $color-primary;
        }

        &-text {
            font-size: $fs-lg;
            font-weight: $fw-extra-bold;
            color: black;
        }
    }
}

//------------------- Mobile Styles ------------------ //
@media (max-width: 576px) {
    .stats {

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $space-24;
        }

        &__item {

            width: 100%;
            max-width: 320px;

            &-number {
                font-size: $fs-4xl;
                font-weight: $fw-extra-bold;
            }

            &-text {
                font-size: $fs-3xl;
                font-weight: $fw-extra-bold;
                color: $color-gray-900;
            }
        }
    }
}