@use "../utils/variables" as *;
@use "../utils/mixins" as *;


/* Body */
body {
    background-color: $color-light;
    color: $text-primary;
    font-family: $font-family-primary;

}



/* Container */
.container {
    width: min($container-width, 90%);
    margin-inline: auto;
}

/* Section default spacing */
section {
    padding-block: $section-padding;
}

h2 {
    font-size: 2.25rem;
    color: $color-primary;
    margin-bottom: $space-12;
}

p {
    color: $text-primary;
    font-size: $fs-base;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}