@use "../utils/variables" as *;

/* Base Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}


/* Responsive Heading Scale */
h1 {
    font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
}

h3 {
    font-size: clamp(1.5rem, 2.2vw, 1.75rem);
}

h4 {
    font-size: clamp(1.25rem, 1.8vw, 1.5rem);
}

h5 {
    font-size: clamp(1.125rem, 1.3vw, 1.25rem);
}

h6 {
    font-size: clamp(1rem, 1vw, 1rem);
}